<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>GMSServices</key>
	<string>AIzaSyBig07xCuJIddITbNbY0Lv5fIqVLEN0EX0</string>
</dict>
</plist>
